


#title{
	text-align: center;
}
#titlename{
	padding: 0%;
	font-size: 5rem;
	font-family: monospace;
	letter-spacing:4px;
}
#reload{
	text-align: center;
	margin:10%;
	margin-top: 5%;
}


.column{
	display: inline-block;
	margin:2% 2% 0%;

}
.container{
	display: flex;
	justify-content: center;
	
}
.box-btn{
	background-color:#c4efff;
	border-style: solid;
	height: 170px;
	width: 170px;
	border-style: solid;
	border-color: black;
	border: 10px;
	border-radius: 30px;
	box-shadow: 15px 10px 10px yellow;
	font-size: 7rem;
	color: blue;

}
.status{
	font-family: monospace;
	text-align: center;
	font-size: 2.5rem;
	padding: 3%;
}

/*.x{
	background-image: url("images/x.png");
}

.o{
	background-image: url("images/o.png");
}
*/
.btn-reload{
	color: black;
	border-style: none;
	height: 120px;
	width: 240px;
	font-size: 3rem;
	font-family: monospace;
	border-radius: 30px;
	box-shadow: 0px 0px 3px 2px green; 
}

.flash{
	background-color: lightgreen;
}

@media(max-width: 1000px){
	.box-btn{
		width: 250px;
		height: 250px;
		box-shadow: 15px 20px 10px yellow;
		background-color:#c4efff;
		font-size: 10rem;
		color: blue;
		border-radius: 35px;
	}
	.flash{
		background-color: lightgreen;
	}
	#titlename{
		font-size: 7rem;
	}
	.btn-reload{
		height: 180px;
		width: 360px;
		font-size: 5rem;
		margin-top: 10%;
	}
}