


#title{
	text-align: center;
}
#titlename{
	padding: 3.5%;
	font-size: 3rem;
	font-family: 'satisfy',cursive;
	letter-spacing:4px;
}
#reload{
	text-align: center;
	margin:10%;
}


.column{
	display: inline-block;
	margin:2% 2% 0%;

}
.container{
	display: flex;
	justify-content: center;
	
}
.box-btn{
	border-style: solid;
	height: 130px;
	width: 130px;
	border-style: solid;
	border-color: black;
	border: 10px;
	border-radius: 30px;
	box-shadow: 20px 15px 10px orange;
	font-size: 5rem;

}
.status{
	font-family: cursive;
	text-align: center;
	font-size: 2.5rem;
	padding: 3%;
}

/*.x{
	background-image: url("images/x.png");
}

.o{
	background-image: url("images/o.png");
}
*/
.btn-reload{
	color: green;
	border-style: none;
	height: 90px;
	width: 180px;
	font-size: 2.5rem;
	font-family: cursive;
	border-radius: 30px;
	box-shadow: 0px 0px 30px 20px cyan; 
}


